.Home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	width: 100vw;
	animation: fadeIn 0.5s ease-in-out;
}
.Content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	line-height: 1.4;
	width: 60%;
}

.Text {
	width: 40vw;
	max-width: 700px;
	margin-right: 50px;
	padding: 30px;
	border-radius: 5px;
}

.Co {
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 36px;
	text-transform: uppercase;
	color: var(--dark-gray);
}

.Welcome {
	font-weight: 400;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 0px;
	color: var(--gray);
}

.Sub {
	display: flex;
	color: var(--gray);
	font-size: 18px;
	line-height: 1.75;
	/* hyphens: auto; */
	max-width: 30rem;
}

@media (max-width: 500px) {
	.Content {
		width: 100%;
		flex-direction: column;
		height: 70%;
	}

	.Text {
		width: 80vw;
	}

	.Vid {
		width: 200px;
		height: 200px;
	}

	.Co {
		font-size: 1.5em;
	}

	.Welcome {
		font-size: 1em;
	}

	.Sub {
		font-size: 0.75em;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0%;
		transform: translateY(300px);
	}

	100% {
		opacity: 100%;
		transform: translateY(0px);
	}
}
