.App {
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.Content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 100px;
	padding: 50px;
	height: 75%;
	line-height: 1.5;
	width: 40vw;
}

h2 {
	margin: 10px 0px;
	font-weight: 600;
	font-size: 1.5em;
	text-transform: uppercase;
}

h3 {
	font-weight: 400;
	font-size: 1.2em;
	text-transform: uppercase;
	margin-bottom: 0px;
	color: var(--gray);
}

text {
	color: var(--gray);
}
