* {
	--n_purple: rgb(98, 40, 175);
	--gray: rgb(85, 85, 85);
}
body {
	margin: 0;
	font-family: "Merriweather Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
