* {
	--n_purple: rgb(98, 40, 175);
	--n_gray: rgb(85, 85, 85);
	--dark-gray: rgb(43, 43, 43);
}
*::-webkit-scrollbar {
	display: none;
}
body {
	margin: 0;
	overflow-y: scroll !important;
	overflow-x: scroll !important;
	font-family: "Merriweather Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
